include ../layout/head.pug
include ../components/mixins/form-field.pug
include ../components/mixins/layouts.pug
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
//include ./navBar.pug
main(class="flex-1 flex items-center justify-center px-4 py-20 bg-background-dark relative overflow-hidden")


    //==============================================
    // SECCIÓN
    // ================================================
    div(class="cardLogin")
        //- Decoración superior técnica
        div(class="decorationUp")
        div(class="flex flex-col items-center mb-4 text-center relative z-10")
            //- Icono con efecto de pulso
            div(class="size-16 bg-primary/10 rounded-sm flex items-center justify-center border border-primary/20  shadow-[0_0_30px_rgba(201,218,43,0.1)] group")
                span(class="material-symbols-outlined text-primary text-4xl animate-pulse") lock
            
            h3.text-primary.mt-5 recuperar password

            p.subTittle
                | Ingrese el email con el que se registró,  de vuelta le enviaremos un email de confirmación y recuperación de contraseña.

        form(class="space-y-6 relative z-10" method="post" action="")
            +ritmaInput("email", "email", "email", "Email:", true, "email@dj.com", "alternate_email")


             
            +formActions("Recuperar")
            
        
        
        





                


    // ================================================
    // FOOTER (PENDIENTE)
    //include ./footer.pug
    // ================================================
    // footer
