include ../layout/head.pug
include ../components/mixins/form-field.pug
include ../components/mixins/layouts.pug
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
//include ./navBar.pug
main(class="flex-1 flex items-center justify-center px-4 py-20 bg-background-dark relative overflow-hidden")


    //==============================================
    // SECCIÓN
    // ================================================
    div(class="cardLogin")
        //- Decoración superior técnica
        div(class="decorationUp")
        div(class="flex flex-col items-center mb-4 text-center relative z-10")
            //- Icono con efecto de pulso
            div(class="size-16 bg-primary/10 rounded-sm flex items-center justify-center mb-3 border border-primary/20  shadow-[0_0_30px_rgba(201,218,43,0.1)] group")
                span(class="material-symbols-outlined text-primary text-8xl animate-pulse") fingerprint
            
            h1.text-primary.mt-10 Registrar Admin

            p.subTittle
                | Ingresa con tu usuario y contraseña

        form(class="space-y-6 relative z-10" method="post" action="")

            if success
                h3=success.msg
                
            input(type="hidden", name="_csrf" value = csrfToken)
            +ritmaInput("nombreUsuario", "nombreUsuario", "text", "Nombre:", true, "Tu nombre", "face_6")

            +ritmaInput("apellidoUsuario", "apellidoUsuario", "text", "Apellido:", true, "Tu apellido", "face_6")

            +ritmaInput("emailUsuario", "emailUsuario", "email", "Email:", true, "info@hotmail.com", "alternate_email")

            +ritmaInput("password", "password", "password", "Contraseña:", true, "**********", "password")

             
            +formActions("Agregar")
            
        
        
        





                


    // ================================================
    // FOOTER (PENDIENTE)
    //include ./footer.pug
    // ================================================
    // footer
