main(class="flex-1 flex items-center justify-center px-4 py-20 bg-background-dark relative overflow-hidden")
  //- Efecto de escaneo de fondo (Radar)
  div(class="absolute inset-0 pixel-grid opacity-10 pointer-events-none")
  div(class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[600px] h-[600px] bg-primary/5 rounded-full blur-[120px] pointer-events-none")

  //- Contenedor del Formulario (Nodo de Autenticación)
  div(class="cardLogin")
    //- Decoración superior técnica
    div(class="decorationUp")
    
    div(class="flex flex-col items-center mb-4 text-center relative z-10")
      //- Icono con efecto de pulso
      div(class="size-16 bg-primary/10 rounded-sm flex items-center justify-center mb-3 border border-primary/20  shadow-[0_0_30px_rgba(201,218,43,0.1)] group")
        span(class="material-symbols-outlined text-primary text-4xl animate-pulse") electric_bolt
      
      h1
        | SOLICITA TU 
        h1.text-primary ACCESO
      
      p.subTittle
        | Únete a la red de infraestructura digital para DJs más avanzada de Latinoamérica.

    //- Formulario de Registro
    form(class="space-y-6 relative z-10" method="post" action="/solicitud-procesada")
      
      //- Parámetros: ID, NAME, TYPE, LABEL, REQUIRED, PLACEHOLDER, ICON
      +ritmaInput("nombreCompleto", "full_name", "text", "Identidad", true, "Escribe tu nombre...", "face")
      
      +ritmaInput("email", "user_email", "email", "Protocolo de Contacto", true, "dj@ritma.pro", "alternate_email")
      
      div(class="grid grid-cols-1 md:grid-cols-2 gap-6")
        +ritmaInput("ciudad", "city", "text", "Ubicación", false, "MEDELLÍN", "location_city")
        +ritmaInput("whatsapp", "whatsapp_num", "tel", "Canal WhatsApp", true, "+57 --- --- ----", "call")

      //- Parámetros: ID, NAME, TYPE, LABEL, PREFIX, REQUIRED, PLACEHOLDER
      div(class="grid grid-cols-1 md:grid-cols-2 gap-6")
        +ritmaInputPrefix("ig-user", "instagram_handle", "text", "Tu Instagram", "instagram/", false, "djCool")
        +ritmaInputPrefix("tk-user", "tiktok_handle", "text", "Tiktok", "Tiktok/", false, "djCool")

      //- Botón de Acción Principal (Usando tu clase btn-green)
      div(class="pt-4")
        button(type="submit" class="btn-green w-full ")
          | ENVIAR SOLICITUD
          span(class="material-symbols-outlined text-primary/100 text-xl transition-transform group-hover:translate-x-1") double_arrow

    //- Footer de la Tarjeta (System Metadata)
    div(class="mt-12 flex justify-between items-center")
      div(class="flex gap-1 opacity-30")
        div(class="h-[2px] w-6 bg-primary")
        div(class="h-[2px] w-2 bg-primary")
      
      div(class="flex flex-col items-center gap-1 text-center")
        span(class="text-[8px] tracking-[0.4em] font-bold text-primary animate-pulse") RTM_v4.2_AUTH_PROTOCOL
        span(class="text-[7px] text-white/20 uppercase tracking-widest") Secure End-to-End Encryption
      
      div(class="flex gap-1 opacity-30")
        div(class="h-[2px] w-2 bg-primary")
        div(class="h-[2px] w-6 bg-primary")