include ../layout/head.pug
include ../components/mixins/form-field.pug
include ../components/mixins/layouts.pug
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
//include ./navBar.pug
div(class="flex min-h-screen")
    //-MENU LATERAL
    include layout/leftMenu.pug
    main(class="flex-1 lg:ml-72 bg-background-dark min-h-screen")
        // HEADER 
        include layout/headerAdmin.pug

        //BODY
        div(class="max-w-5xl mx-auto px-8 pb-32")   
         
                
        //FOOTER
       

    // ================================================
    // footer
