div(class="stats-crystal glass-card ")
  div(class="absolute inset-0 pixel-pattern opacity-5")
  div(class="flex justify-between items-start relative z-10")
    span.subTittle Total Audios Descargados
    span(class="material-symbols-outlined  ") music_cast
  div(class="mt-4 relative z-10")
    span(class="text-4xl font-display font-extrabold text-red-600") 142,842
    div(class="mt-1 flex items-center gap-1.5 text-[10px] font-mono")
      span(class="material-symbols-outlined text-xs  text-red-500") trending_down
      span.text-red-500 +0.2% vs último mes 