div(class="glass-card stats-crystal ")
  div(class="absolute inset-0 pixel-pattern opacity-5")
  div(class="flex justify-between items-start relative z-10")
    span.subTittle Total Videos Descargados
    span(class="material-symbols-outlined text-primary/90") video_library
  div(class="mt-4 relative z-10")
    span(class="text-4xl font-display font-extrabold text-white") 142,842
    div(class="mt-1 flex items-center gap-1.5 text-[10px] font-mono")
      span(class="material-symbols-outlined text-xs") trending_up
      span +8.2% vs último mes 