section(class="grid grid-cols-1 pl-20 md:grid-cols-2 lg:grid-cols-4 gap-6")
    div(class="bg-surface-dark neon-card")
        p(class="text-[10px] font-bold text-gray-500 uppercase tracking-widest mb-4") Solicitudes Pendientes
            div(class="flex items-baseline gap-2")
                span(class="text-4xl font-accent font-extrabold text-primary") 12
                span(class="text-[10px] text-gray-500 font-bold") REVISIÓN
    div(class="bg-surface-dark neon-card rounded-2xl p-6 relative overflow-hidden group")
        p(class="text-[10px] font-bold text-gray-500 uppercase tracking-widest mb-4") Solicitudes Pendientes
            div(class="flex items-baseline gap-2")
                span(class="text-4xl font-accent font-extrabold text-primary") 12
                span(class="text-[10px] text-gray-500 font-bold") REVISIÓN