include ./head.pug  
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
    include ./navBar.pug

    // ================================================
    // HERO / HEADER
    // ================================================
    include ./header.pug
    // ================================================
    // SECCIONES MAIN
    // ================================================

    include ../partials/trendingTraks.pug
    include ../partials/features.pug
    include ../partials/cta.pug


    // ================================================
    // FOOTER (PENDIENTE)
    include ./footer.pug
    // ================================================
    // footer
