nav(class="fixed w-full z-50 border-b border-slate-200 dark:border-white/10 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-md")
      div(class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between")
        div(class="flex items-center gap-3")
          div(class="w-40 relative")
            a(href="/") 
              img(
                src="/img/logos/logo_horizontal_transparente.png"
                alt="RITMA Logo"
                class="w-full h-full object-contain"
              )
        div(class="hidden md:flex items-center gap-8 font-medium uppercase text-xs tracking-widest")
          a(href="/" class="hover:text-primary transition-colors") Home
          a(href="/vision/" class="hover:text-primary transition-colors") Nuestra Visión
          a(href="/acceso/" class="hover:text-primary transition-colors") Solicita Acceso
          a(href="/estructura/" class="hover:text-primary transition-colors") Estructura

       
