include ./head.pug  
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
include ./navBar.pug
main(class="pt-20 relative")

  
    include ../partials/artistProfile.pug
    
   


    // ================================================
    // FOOTER (PENDIENTE)
    include ./footer.pug
    // ================================================
    // footer
