include ./head.pug  
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
include ./navBar.pug
main(class="flex-1 max-w-7xl mx-auto px-6 py-16 md:py-24")

    // ================================================
    // HERO / HEADER
    // ================================================
    include ../partials/trending-header.pug
    // ================================================
    // SECCIONES 
    // ================================================
    include ../partials/trending-list.pug
   


    // ================================================
    // FOOTER (PENDIENTE)
    include ./footer.pug
    // ================================================
    // footer
