include ./head.pug  
block contenedor
    // ================================================
    // NAVBAR
    // ================================================
    include ./navBar.pug
    // ================================================
    // HERO / HEADER
    // ================================================
    include ../partials/headerVision.pug
    // ================================================
    // SECCIONES 
    // ================================================
    include ../partials/coreRitma.pug
    include ../partials/system-community.pug
    include ../partials/cta.pug


    // ================================================
    // FOOTER (PENDIENTE)
    include ./footer.pug
    // ================================================
    // footer
